@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}
div.imagem {
    color: white;
    display: block;
    background-image: url(praiafundo2.jpg);
    background-repeat: repeat-y;
    background-size: 100% 100%;
    text-align: center;
    background-attachment: fixed;
    width: 134;
    height: 400px;
    padding-top: 5px;
    border: 3px solid black;
    border-radius: 0px 0px 7px 7px;
}
div{
    color: white;
    background-color: black;
    
}
header {
    height: 100px;
    width: 1330px;
    color: black;
    background-color: white;
    padding-top: -10px;
    border-radius: 15px;
    margin: 8px;
    padding: -5px;
}
a {
    text-align: right;
    text-decoration: none;
}
.esquerda:hover {
    text-decoration: underline;
}
h1 {
    margin: 0px;
    padding-top: 20px;
    padding: 10px;
    font-size: 2.5em;
    text-align: left;
}
header a {
    color: black;
}
a.detalhe {
    border-radius: 7px;
    padding: 5px;
    background-color: black;
    text-align: center;
}
a.detalhe:hover {
    text-decoration: underline;
}
.detalhe2 {
    padding-bottom: 15px;
    text-align: center;
}
main {
    height: 850px;
}
